<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KSÖ</title>
    <link rel="stylesheet" href="/css/submit.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

</head>
<body>
    <div class="container" id="content">
        <h1>Kariyer Sıkıntısı Ölçeği Anketi Sonuçları</h1>
        <p>Anketi tamamladığınız için tebrikler!</p>
        <p>Anket sonuçlarına göre kişiselleştirilmiş içeriğiniz burada görünecektir. Bilgileri anlayışlı ve gelecekteki çabalarınız için yararlı bulacağınızı umuyoruz.</p>
    </div>
    <button id="downloadPDF" class="btn">Download as PDF</button>
    <button id="downloadImage" class="btn">Download Image</button>

    <script>
        document.getElementById('downloadPDF').addEventListener('click', function() {
            const { jsPDF } = window.jspdf;
            const doc = new jsPDF();

            html2canvas(document.getElementById('content')).then(canvas => {
                const imgData = canvas.toDataURL('image/png');
                const imgWidth = 210; // A4 width in mm
                const pageHeight = 297; // A4 height in mm
                const imgHeight = canvas.height * imgWidth / canvas.width;
                let heightLeft = imgHeight;

                let position = 0;

                doc.addImage(imgData, 'PNG', 0, position, imgWidth, imgHeight);
                heightLeft -= pageHeight;

                while (heightLeft >= 0) {
                    position = heightLeft - imgHeight;
                    doc.addPage();
                    doc.addImage(imgData, 'PNG', 0, position, imgWidth, imgHeight);
                    heightLeft -= pageHeight;
                }

                doc.save('content.pdf');
            });
        });

        document.getElementById('downloadImage').addEventListener('click', function() {
            html2canvas(document.getElementById('content')).then(canvas => {
                const imgData = canvas.toDataURL('image/png');
                const link = document.createElement('a');
                link.href = imgData;
                link.download = 'content.png';
                link.click();
            });
        });


        function dataURLToBlob(dataURL) {
            const byteString = atob(dataURL.split(',')[1]);
            const mimeString = dataURL.split(',')[0].split(':')[1].split(';')[0];
            const ab = new ArrayBuffer(byteString.length);
            const ia = new Uint8Array(ab);

            for (let i = 0; i < byteString.length; i++) {
                ia[i] = byteString.charCodeAt(i);
            }

            return new Blob([ab], { type: mimeString });
        }
    </script>
</body>
</html>
